<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include ('./partials/nav.ejs') %>
            <div class="about-intro">
                <h3>Who we are:</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, facilis nisi possimus reiciendis
                    hic perspiciatis error labore accusamus odio. Doloremque quo id deserunt sequi labore tenetur sunt
                    accusamus incidunt aperiam.</p>
            </div>

            <%- include ('./partials/footer.ejs') %>
    </body>

</html>