.home {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    padding: 10px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    background: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style-type: none;
    padding: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title a:hover {
    color: black;
}

.head-nav {
    color: black;
}

/* footer */
footer {
    text-align: center;
    margin-top: 10px;
}

/* Note homepage */
.content {
    border: 1px solid yellowgreen;
    width: 75%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
}

.notes li {
    list-style-type: circle;
    /* background: #e0e0e0; */
    padding: 2px 10px 5px 10px;
    border-radius: 3px;
    box-shadow: -6px 12px 8px 0px rgba(21, 113, 108, 0.75);
    -webkit-box-shadow: -6px 12px 8px 0px
        rgba(21, 113, 108, 0.75);
    -moz-box-shadow: -6px 12px 8px 0px rgba(21, 113, 108, 0.75);
}

.notes a {
    text-decoration: none;
    color: black;
}

.notes span {
    background: darkgray;
    color: black;
    padding: 5px;
}

.notes {
    line-height: 0.9;
}

/* About page */

.about-intro {
    width: 70%;
    margin: 0 auto;
}

.about-intro h3 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.image {
    width: 600px;
    margin: 0 auto;
    border: 1px solid gray;
}

.image img {
    width: 100%;
}

/* Create new note */

.create {
    width: 80%;
    border: 1px solid teal;
    margin: 0 auto;
    padding: 0px 10px 5px 10px;
}
