body {
    background: beige;
    width: 80%;
    height: fit-content;
    border: 1px solid green;
    margin: 0 auto;
    padding: 10px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    background: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style-type: none;
    padding: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title a:hover {
    color: black;
}

.head-nav {
    color: black;
}

/* Note homepage */
.content {
    border: 1px solid yellowgreen;
    width: 75%;
    padding: 20px;
    margin: 0 auto;
}
